<div class='shadow-md rounded-md lg:mt-20 mx-auto px-4 md:px-0' style="background-image: url({{ 'subscribe.jpg' | asset_url }}); background-size: cover; background-position: center;">
<div class="max-w-max mx-auto hidden lg:block ">
 <div class="klaviyo-form-UEBBBe"></div>
</div>
 <div class="max-w-max mx-auto lg:hidden ">
    <div class="klaviyo-form-XhsNz7"></div>
 </div>
</div>
